.slider{
  width: 600px;
  overflow: hidden;
  position: relative;
}

.slider .container{
  white-space: nowrap;
}

.slider .container *{
  white-space: normal;
}

.slider img{
  width: 100%;
  display: inline-block;
  margin-right: -4px;
}