
:root{ /*Custom properties*/
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
  --radius: 4px;
  --bg-color: white;
  --main-text-color: DarkSlateGray;
  --accent-color: MediumBlue;
  --secondary-text-color: GhostWhite;
  --main-color: GhostWhite;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  color: var(--main-text-color);
  background-color: var(--bg-color);
}

.dark-mode-controls{
  position: absolute;
  top: 1em;
  right: 1em;
}

.dark-toggle{

}

.dark-toggle + label{ /*siblings selector -> escoje al selector hermano*/
  --height-control: 1rem;
  display: inline-block;
  width: calc( var(--height-control) * 2);
  height: var(--height-control);
  background-color: var(--main-colors);
  position: relative;
  border-radius: calc(var(--radius) * 2);
}

.dark-toggle + label::after{
  --circle-size: calc( var(--height-control) * 1.33);
  position: absolute;
  content: "";
  left: calc((var(--circle-size) - var(--height-control)) * -1);
  top:calc((var(--circle-size) - var(--height-control)) / 2 * -1);
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: all 0.2s ease-in;
}

.dark-toggle:checked + label::after{
  left: calc(100% - (var(--circle-size) - var(--height-control) / 2));
}

.dark-toggle:checked + label{ 
  background-color: blue;
}

.container{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.card{
  background-color: var(--main-color);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 4rem 3rem;
  border-top: solid 4px;
  width: 16rem;
  max-width: 100%;
}

.card h2{
  margin-top: 0;
}

.card form{
  display: flex;
  flex-direction: column;
}

.card form label{
  font-size: 0.8em;
  opacity: 0.75;
}

.card form input:not([type="submit"]){
  margin-bottom: 1em;
  border: 0;
  box-shadow: 0 0 2px;
  padding: 0.2rem 0.rem;
  border-radius: var(--radius);
}

.card form [type="submit"]{
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 0.5em 1em;
  border: 0;
}

@media(prefers-color-scheme: dark), (prefers-color-scheme: no-preference){
  :root{
    --bg-color: #0d1b1e;
    --main-color: #0b3c49;
    --accent-color: Purple;
    --main-text-color: LightGoldenrodYellow;
    --secondary-text-color: Lavender;
  }
}