html, body{
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container{
  white-space: nowrap;
  position: relative;
  left: -300px;
  transition: left .2s;
}

.main-container:hover{
  left: 0px;
}

.main-container *{
  white-space: normal;
}

.main-container .lateral-menu{
  width: 300px;
}

.main-container .content, .main-container .lateral-menu{
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  height: 100vh;
}

.main-container .content{
  overflow-y: scroll;
  width: 100%;
}

.hero-image{
  height: 75vh;
  background:url('home-img.png'),green;
  background-size: cover;
  background-position: center;
  padding: 2em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero-image h1{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0px;
  text-shadow: 0px 0px 4px #000;
}

.hero-image p{
  font-size: 1.2rem;
}

.nav{
  background-color: #303f9f;
  color: white;
  width: 100%;
}

.nav li{
  display: inline-block;
  margin-right: 1rem;
  padding: 10px;
}

.nav.pined{
  position: fixed;
  top: 0px;
}